@page "/" 


<PageTitle>Index</PageTitle>

<h1>Golf Club</h1>

Use the side bar menu, meanwhile I wish you all the best in your upcoming golf !!!


<!--
@code
{
    [Inject]
    public Context context { get; set; } = null!;
    override protected async Task OnInitializedAsync() // strona sie laduje, 
    {
        Golfer golfer = new Golfer();
        golfer.FirstName = "John";
        golfer.LastName = "Doe";
        golfer.EmailAddress = "a@wp.pl";
        golfer.Sex = "Male";
        golfer.Handicap = 10;
        context.Golfers.Add(golfer);
        await context.SaveChangesAsync();
        
    }

}
-->
