@using GolfClubApp.Data
@using GolfClubApp.Shared
@using Microsoft.AspNetCore.Components
@page "/tees"

<h3>Tees</h3>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th>Tee ID</th>
            <th>Tee Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in TeeList)
        {
            <tr>
                <td>@t.Id</td>
                <td>@t.Name</td>
                <td><button class="btn btn-warning" @onclick="(() => ViewTee(t.Id)) ">Check this Tee Out !</button></td>
            </tr>
        }
    </tbody>
</table>

@code {
   
    [Inject]
    public IGolfRep GolfRepository { get; set; }
    [Inject]
    public NavigationManager NavigationManager { get; set; }
    
    public List<Tee> TeeList { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        TeeList.AddRange(await GolfRepository.GetAllTees());
    }

    public void ViewTee(int id)
    {
        NavigationManager.NavigateTo($"/tee_detailed/{id}");
    }


}
